.sequence {
  display: flex;
  flex-direction: row;
}

.pad {
  height: 40px;
  width: 30px;
  border-radius: 4px;
  margin-left: 10px;
}

.indicator {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.pad.active > .indicator {
  background-color: rgba(255, 255, 255, 0.5);
}